header {
    position: fixed;
    display: flex;
    align-items: flex-start;
    width: 100%;
    z-index: 1;
    nav {
        display: flex;
        align-items: center;
        width: 100%;
        height: 8rem;
        padding: 0.4rem 1.6rem;
        background-color: #FFF;
        ul {
            display: flex;
            align-items: center;
            width: 100%;
            height: 4.8rem;
            .nb__ctr--p {
                list-style: none;
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    height: 4.8rem;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: #111;
                    .p__lo {
                        width: 2.4rem;
                        height: 2.4rem;
                        margin: 1.05rem 1.2rem;
                        fill: currentColor;
                        color: #e60023;
                    }
                    svg {
                        margin: 0 0 0 0.8rem;
                        fill: currentColor;
                        color: #111;
                        width: 1.2rem;
                        height: 1.2rem;
                    }
                }
                .p {
                    padding: 0 1.6rem;
                }
            }
            .ac {
                border-radius: 2.4rem;
                background-color: #111;
                a {
                    color: #FFF;
                }
            }
            .nb__ctr--i {
                list-style: none;
                a {
                    svg {
                        width: 2.4rem;
                        height: 2.4rem;
                        margin: 1.05rem 1.2rem;
                        fill: currentColor;
                        color: #5f5f5f;
                    }
                    .i--u {
                        margin: 1.05rem 1.2rem;
                    }
                    .i--a{
                        width: 1.2rem;
                        height: 1.2rem;
                        margin: 1.05rem 0.5rem;
                    }
                    img {
                        width: 2.4rem;
                        height: 2.4rem;
                        border-radius: 50%;
                    }
                }
            }
            .nb__sh {
                display: flex;
                align-items: center;
                width: 100%;
                height: 4.8rem;
                margin:  0 0 0 0.8rem;
                padding: 0 0 0 1.6rem;
                border-radius: 2.4rem;
                background-color: #e9e9e9;
                .sh--i {
                    fill: #5f5f5f;
                    width: 1.6rem;
                    height: 1.6rem;
                    margin: 0 0.8rem 0 0;
                }
                input {
                    border: none;
                    background-color: transparent;
                    outline: none;
                    font-size: 1.6rem;
                    font-family: var(--font);
                    color: #333;
                }
            }
        }
    }
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8rem 0 0 0;
    .ctr--ca {
        width: 92%;
        height: 100%;
        column-count: 5;
        column-gap: 1.5rem;
        .ca {
            position: relative;
            display: flex;
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
            .ca__im {
                width: 100%;
                height: auto;
                border-radius: 1.6rem;
                margin-bottom: 3rem;
            }
            .btn--s, .btn--lk, .btn--d, .btn--p {
                display: none;
            }
            &:hover {
                .ca__im {
                    filter: brightness(60%);
                }
                a {
                    text-decoration: none;
                }
                .b {
                    display: flex;
                    align-items: center;
                    position: absolute;
                    border: none;
                    cursor: pointer;                
                    span {
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
                .dp {
                    bottom: calc(0% + 4.1rem);
                    padding: 0.5rem;
                    background-color: #e9e9e9;
                    border-radius: 50%;
                    span {
                        width: 2rem;
                        height: 2rem;
                    }
                    &:hover {
                        background-color: #fff;
                    }
                }
                .btn--s {
                    top: calc(0% + 1.2rem);
                    right: calc(0% + 1.2rem);
                    padding: 1.4rem 1.7rem;
                    background-color: #e60023;
                    border-radius: 3rem;
                    font-family: var(--font);
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: #FFF;
                    &:hover {
                        background-color: #ad081b;
                    }
                }
                .btn--lk {
                    bottom: calc(0% + 4.1rem);
                    left: calc(0% + 1.2rem);
                    padding: 0.6rem 1rem;
                    background-color: #e9e9e9;
                    border-radius: 3rem;
                    font-family: var(--font);
                    font-size: 1.4rem;
                    font-weight: 600;
                    color: #111;
                    span {
                        width: 1.5rem;
                        height: 1.5rem;
                        transform: rotate(135deg);
                        background-image: url('../assets/icons/icon-arrow.svg');
                    }
                    &:hover {
                        background-color: #fff;
                    }
                }
                .btn--d {
                    right: calc(0% + 5rem);
                    span {
                        background-image: url('../assets/icons/icon-download.svg');
                    }
                }
                .btn--p {
                    right: calc(0% + 1.2rem);
                    span {
                        background-image: url('../assets/icons/icon-more.svg');
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 730px) {
    header {
        nav {
            ul {
                .nb__ctr--p {
                    .p--tw, .p--th {
                        display: none;
                    }
                }
                .ac {
                    background-color: transparent;
                    a {
                        color: #111;
                    }
                }
                .nb__sh {
                    margin: 0;
                    padding: 0;
                    background-color: transparent;

                    input {
                        display: none;
                    }
                }
            }
        }
    }
    main {
        .ctr--ca {
            column-count: 3;
        }
    }
}
@media screen and (max-width: 360px) {
    header {
        nav {
            ul {
                .nb__ctr--p {
                    .p--o  {
                        display: none;
                    }
                }
            }
        }
    }
    main {
        .ctr--ca {
            column-count: 1;
        }
    }
}